---
layout: default
title: Introduction Page
---
<h3>Evercam Architecture Diagram - Logo Driven Development ;)</h3>
<img src="images/architecture.png" width=100%>

{% raw %}
<div ng-controller="repoCtrl">
    <h2>Repositories</h2>
    <div ng-repeat="cat in categories">
        <h3 class="col-xs-12 repository-category">{{cat.name}}</h3>
        <ul class="repository-list list-inline">
            <li class="repository col-xs-6" ng-repeat="repo in cat.repos">
                <div>
                    <a ng-href="{{repo.url}}">{{repo.name}} - {{repo.language}}</a><br/>
                    <p class="repository-description">{{repo.description}}</p>
                    {{repo.forks}} <i class="fa fa-code-fork"></i> forks&nbsp;&nbsp;&nbsp;
                    {{repo.watchers}} <i class="fa fa-eye"></i> watchers
                </div>
            </li>
        </ul>
    </div>

    <h2 class="col-xs-12">Contributors</h2>
    <ul class="contributors-list list-inline">
        <div ng-repeat="cont in contributors" class="contributor-wrap col-xs-6 col-sm-4 col-md-3">
            <li class="contributor">
                <img class="img-circle" ng-src="{{cont.avatar}}">
                <a ng-href="{{cont.url}}">
                    <div class="contributor-text">
                        {{cont.count}}<br/>
                        commits
                    </div>
                </a>
            </li>
            <span ng-if="cont.name">{{cont.name}}</span>
            <span ng-if="!cont.name">{{cont.login}}</span>
        </div>
    </ul>

    <h2 class="col-xs-12">Issues</h2>
    <table id="issues" class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Repository</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="issue in issues">
                <td><a ng-href="{{issue.url}}">#{{issue.number}}</a></td>
                <td>{{issue.repository}}</td>
                <td>{{issue.title}}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endraw %}

<div class="get-involved">

    <div class="involve-section row">
        <div class="text-center col-md-12">
            <h2>Get involved with Evercam</h2>
            <h3>The Open Source Camera Management Platform</h3>
        </div>
    </div>

    <div class="involve-section row">
        <div class="col-md-6">
            <p><strong>Public Cameras</strong><br>
                <a href="http://www.evercam.io/public" target="_blank">www.evercam.io/public</a>
            </p>
        </div>
        <div class="col-md-6">
            <p>
                Found a public camera? Add it here. Got a public camera dataset? Email us
            </p>
        </div>
    </div>

    <div class="involve-section row">
        <div class="col-md-6">
            <p>
                <strong>Camera Make &amp; Models Cameras</strong><br>
                <a href="http://www.evercam.io/vendors" target="_blank">www.evercam.io/vendors</a><br>
                <a href="http://www.evercam.io/models" target="_blank">www.evercam.io/models</a>
            </p>
        </div>
        <div class="col-md-6">
            <p>
                You’re a camera manufacturer?<br>
                You’ve got a camera we don’t support?<br>
                You want a camera feature we don’t support?<br>
                You’ve got an NVR or DVR we don’t support?<br>
                -- Email us
            </p>
        </div>
    </div>

    <div class="involve-section row">
        <div class="col-md-6">
            <p>
                <strong>Evercam Server</strong><br>
                <a href="http://www.github.com/evercam/evercam-media" target="_blank">www.github.com/evercam/evercam-media</a><br>
                <a href="www.github.com/evercam/evercam-api" target="_blank">www.github.com/evercam/evercam-api</a>
            </p>
        </div>
        <div class="col-md-6">
            <p>There’s some server side functionality you’d like to see? Make a pull request.</p>
        </div>
    </div>

    <div class="involve-section row">
        <div class="col-md-6">
            <p><strong>Evercam Clients</strong><br>
                <a href="http://www.github.com/evercam" target="_blank">www.github.com/evercam</a>
            </p>
        </div>
        <div class="col-md-6">
            <p>
                You’d like to create your own Evercam? Fork our repo.
                There’s a client side feature you’d like to see? Check out the Trello Dashboard Roadmap</p>
            </p>
        </div>
    </div>

    <div class="involve-section row">
        <div class="col-md-6">
            <p> <strong>Evercam Wrappers</strong><br>
                <a href="http://www.github.com/evercam" target="_blank">www.github.com/evercam</a>
            </p>
        </div>
        <div class="col-md-6">
            <p>There’s an app or an integration you’d like to see?  Let us know, or try it yourself.</p>
        </div>
    </div>

    <div class="involve-section row">
        <div class="col-md-6">
            <p><strong>Evercam Gateway</strong><br>
                <a href="http://www.github.com/evercam" target="_blank">www.github.com/evercam</a>
            </p>
        </div>
        <div class="col-md-6">
            <p>Check out the Evercam VPN Gateway project</p>
        </div>
    </div>

    <div class="involve-section row">
        <div class="text-center col-md-12">
            <h2>Sponsors</h2>
        </div>
    </div>
    <div class="involve-section row sponsors">
        <img src="images/Telefonica-Europe-Logo.svg">
        <img src="images/Intel-logo.svg"/>
    </div>

    <footer class="site-footer">

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
    </footer>
    <!--<script src="http://evercam-github-io.s3.amazonaws.com/evercam.json"></script>--> <!-- Calls readData -->
    <script src="evercam.json"></script>
</div>
